USE [AdanaCafeDB]
GO
/****** Object:  Table [dbo].[Cafes]    Script Date: 23.02.2026 17:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cafes](
	[CafeId] [int] IDENTITY(1,1) NOT NULL,
	[CafeName] [nvarchar](100) NOT NULL,
	[District] [nvarchar](50) NULL,
	[Address] [nvarchar](250) NULL,
	[IsStudent] [bit] NULL,
	[IsForFamily] [bit] NULL,
	[IsForWorking] [bit] NULL,
	[IsForFun] [bit] NULL,
	[PhotoUrl] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[CafeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menus](
	[MenuId] [int] IDENTITY(1,1) NOT NULL,
	[CafeId] [int] NULL,
	[Category] [nvarchar](50) NULL,
	[ItemName] [nvarchar](100) NULL,
	[Price] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cafes] ON 

INSERT [dbo].[Cafes] ([CafeId], [CafeName], [District], [Address], [IsStudent], [IsForFamily], [IsForWorking], [IsForFun], [PhotoUrl]) VALUES (1, N'Baraj Kafe', N'Seyhan', N'Baraj Yolu 5. Durak No:12', 1, 0, 0, 0, N'https://images.unsplash.com/photo-1554118811-1e0d58224f24?q=80&w=500')
INSERT [dbo].[Cafes] ([CafeId], [CafeName], [District], [Address], [IsStudent], [IsForFamily], [IsForWorking], [IsForFun], [PhotoUrl]) VALUES (2, N'Kampüs Bahçesi', N'Sarıçam', N'Çukurova Üniversitesi Kuzey Kampüsü', 1, 0, 1, 0, N'https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?q=80&w=500')
INSERT [dbo].[Cafes] ([CafeId], [CafeName], [District], [Address], [IsStudent], [IsForFamily], [IsForWorking], [IsForFun], [PhotoUrl]) VALUES (3, N'Gençlik Durağı', N'Seyhan', N'Baraj Yolu 2. Durak', 1, 1, 0, 0, N'https://images.unsplash.com/photo-1495474472287-4d71bcdd2085?q=80&w=500')
SET IDENTITY_INSERT [dbo].[Cafes] OFF
GO
SET IDENTITY_INSERT [dbo].[Menus] ON 

INSERT [dbo].[Menus] ([MenuId], [CafeId], [Category], [ItemName], [Price]) VALUES (1, 1, N'Kahve', N'Filtre Kahve', CAST(65.00 AS Decimal(18, 2)))
INSERT [dbo].[Menus] ([MenuId], [CafeId], [Category], [ItemName], [Price]) VALUES (2, 1, N'Yiyecek', N'Karışık Tost', CAST(95.00 AS Decimal(18, 2)))
INSERT [dbo].[Menus] ([MenuId], [CafeId], [Category], [ItemName], [Price]) VALUES (3, 2, N'İçecek', N'Büyük Boy Çay', CAST(25.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Menus] OFF
GO
ALTER TABLE [dbo].[Cafes] ADD  DEFAULT ((0)) FOR [IsStudent]
GO
ALTER TABLE [dbo].[Cafes] ADD  DEFAULT ((0)) FOR [IsForFamily]
GO
ALTER TABLE [dbo].[Cafes] ADD  DEFAULT ((0)) FOR [IsForWorking]
GO
ALTER TABLE [dbo].[Cafes] ADD  DEFAULT ((0)) FOR [IsForFun]
GO
ALTER TABLE [dbo].[Menus]  WITH CHECK ADD FOREIGN KEY([CafeId])
REFERENCES [dbo].[Cafes] ([CafeId])
ON DELETE CASCADE
GO
